// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$theme-color: #222222;
$deputy-color: #f7f7f7;
$code-color: #25202e !default;

$global-font-color: #455570 !default;
