.post-header {
  margin-bottom: 20px;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-serif-font-family;
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    .post-time {
      font-size: 15px;
      color: $post-meta-font-color;
    }

    .post-category {
      display: inline;
      font-size: 14px;
      color: $post-meta-font-color;

      &::before {
        content: '·';
      }

      a {
        color: inherit;

<<<<<<< HEAD
=======
        & + a {
          &::before {
            content: '/';
            margin-right: 3px;
            color: $post-meta-font-color !important;
          }
        }

>>>>>>> f897cd88f3de76238b98270a86d50dcdaa906d02
        &:hover {
          color: $theme-color;
        }
      }
    }

    .post-visits {
      display: inline-block;
      font-size: 14px;
      color: $post-meta-font-color;

      &::before {
        content: '·';
      }
    }
  }
}
