// ==============================
// Back to top
// =============================

.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  z-index: 10;

  &:hover {
<<<<<<< HEAD
    transform: translateY(-5px); 
=======
    transform: translateY(-5px);
>>>>>>> f897cd88f3de76238b98270a86d50dcdaa906d02
  }
}

@include max-screen() {
  .back-to-top {
    display: none !important;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> f897cd88f3de76238b98270a86d50dcdaa906d02
