// ==============================
// Post
// ==============================

.posts {
  margin-bottom: $post-list-margin-bottom;
  border-bottom: $post-border;
}

.post {
  padding: $post-padding;
<<<<<<< HEAD
  
=======

>>>>>>> f897cd88f3de76238b98270a86d50dcdaa906d02
  & + .post {
    border-top: $post-border;
  }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
<<<<<<< HEAD
}
=======
}
>>>>>>> f897cd88f3de76238b98270a86d50dcdaa906d02
